/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

:host {
  display: block;
}

.card-actions {
  float: right;
  margin-top: -8px;
}

.member-filters {
  padding: 8px 0;
}

.w-100 {
  width: 100%;
}

.red {
  color: #f44336;
  font-weight: 500;
}

table {
  width: 100%;
}
